body {
  background-color: #ebf0f5;
}

div.outer {
  position: fixed;
  top: 60px;
  /*top: 50px;*/
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#control {
  /* Appearance */
  background-color: white;
  border-radius: 8px;
  padding: 0px 10px 10px 10px;
  cursor: move;
  opacity: 0.9;
  transition: opacity 500ms 1s;
}
